ENVIRONMENT=local
DEBUG=True
SECRET_KEY=cia#^$jcwiheqpz%t-)a7&=gu6ux8d^x-ouxvo%1g%)hbs0%=f
DATABASE_URL=postgres://servesite:servesite@localhost:5432/servesite
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
EMAIL_HOST=localhost
EMAIL_PORT=1025
ALLOWED_HOSTS=localhost,127.0.0.1
SENTRY_DSN=


AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=servesite-media-dev
AWS_S3_REGION_NAME=ap-south-1
AWS_CLOUDFRONT_DOMAIN=d1thqgtxca54e3.cloudfront.net