ENVIRONMENT=local
DEBUG=True
SECRET_KEY=cia#^$jcwiheqpz%t-)a7&=gu6ux8d^x-ouxvo%1g%)hbs0%=f
DATABASE_URL=postgres://servesite:servesite@localhost:5432/servesite
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
EMAIL_HOST=localhost
EMAIL_PORT=1025
ALLOWED_HOSTS=localhost,127.0.0.1